[Desktop Entry]
Name=Gorilla Password
GenericName=Password Safe
Exec=/home/steve/bin/gorilla1537_64.bin
Terminal=false
Type=Application
Encoding=UTF-8
Icon=/home/share/Icons/password-gorilla_110414.png
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
X-Desktop-File-Install-Version=0.23
