[Desktop Entry]
Name=PAC
Comment=Perl Auto Connector (auto start)
Terminal=false
Icon=pacmanager
Type=Application
Exec=/usr/bin/pacmanager
StartupNotify=true
Name[en_US]=PAC
Comment[en_US]=Perl Auto Connector
Categories=GTK;Network;
X-GNOME-Autostart-enabled=false
Actions=Shell;Quick;Tray;

[Desktop Action Shell]
Name=Start local shell
Exec=pacmanager --start-shell
#OnlyShowIn=Unity;

[Desktop Action Quick]
Name=Quick connect...
Exec=pacmanager --quick-conn
#OnlyShowIn=Unity;

[Desktop Action Tray]
Name=Start pacmanager in system tray
Exec=pacmanager --iconified
