[Desktop Entry]
Name=Downloader
GenericName=Downloader
Exec=/home/steve/bin/rdpdl
Terminal=false
Type=Application
Encoding=UTF-8
Icon=/home/share/Icons/vm.jpg
Categories=Internet;System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
X-Desktop-File-Install-Version=0.23
