[Desktop Entry]
Type=Application
Exec=unison-gtk-2.40
Name=Unison File Synchronizer (version 2.40)
GenericName=File Synchronizer
Comment=Multi-master File synchronization tool
Terminal=false
Icon=unison240
StartupNotify=true
Categories=Utility;
X-Desktop-File-Install-Version=0.22
