[submodule "ansible-role-java"]
	path = AL/git-jenkins/roles/ansible-role-java
	url = https://github.com/geerlingguy/ansible-role-java.git

[submodule "ansible-role-jenkins"]
	path = AL/git-jenkins/roles/ansible-role-jenkins
	url = https://github.com/geerlingguy/ansible-role-jenkins.git

[submodule "K8sCluster"]
	path = K8sCluster
	url = https://github.com/stevshil/K8sClusterAnsible.git

[submodule "puppettrain"]
	path = VMBuild/git/puppettrain
	url = https://github.com/stevshil/puppettrain.git

[submodule "dockerreg"]
	path = dockerreg
	url = https://github.com/stevshil/dockerregAnsible.git

[submodule "monitoring"]
	path = simplemonitoring
	url = https://github.com/stevshil/monitoringAnsible.git

[submodule "monitoringAnsible"]
	path = monitoringAnsible
	url = https://github.com/stevshil/monitoringAnsible.git

[submodule "dockerregAnsible"]
	path = dockerregAnsible
	url = https://github.com/stevshil/dockerregAnsible.git

[submodule "jenkins"]
	path = jenkins
	url = https://github.com/stevshil/jenkins.git
