[Unit]
Description=Kill annoying DNSMASQ
BindsTo=containerd.service
After=network-online.target firewalld.service containerd.service
Wants=network-online.target
Requires=docker.socket

[Service]
Type=single
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
ExecStart=/home/steve/bin/killdnsmasq
TimeoutSec=0

[Install]
WantedBy=multi-user.target
