[Desktop Entry]
Type=Application
Exec=battray
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_GB]=Battery Tray
Name=Battery Tray
Comment[en_GB]=
Comment=
X-MATE-Autostart-Delay=0
